RewriteEngine On
RewriteBase /

RewriteRule ^$ /es [R=301,L]
# Check if the requested file or directory exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Spanish URL rewriting
RewriteRule ^([a-zA-Z0-9_-]+)/s/([^/]+)/?$ set/$2.php?lang=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/g/([^/]+)/?$ get/$2.php?lang=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/b/([^/]+)/?$ boxes/$2.php?lang=$1 [L,QSA]

RewriteRule ^es$ index.php?lang=es&seo=45 [L,QSA]
RewriteRule ^en$ index.php?lang=en&seo=1898 [L,QSA]
RewriteRule ^de$ index.php?lang=de&seo=1900 [L,QSA]
RewriteRule ^es/equipos$ list.php?lang=es&seo=1902 [L,QSA]
RewriteRule ^en/equipos$ list.php?lang=en&seo=1904 [L,QSA]
RewriteRule ^de/equipos$ list.php?lang=de&seo=1906 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/equipos/([a-zA-Z0-9_-]+)/([0-9]+)/([0-9-]+)/([a-zA-Z0-9_-]+)-([0-9]+)$ intern.php?lang=$1&idEquipo=$6&idCat=$4&nameCat=$2&seo=$6&type=garcia-grupos&catIndex=$3 [L,QSA]
RewriteRule ^es/clientes$ clients.php?lang=es&seo=1908 [L,QSA]
RewriteRule ^en/clientes$ clients.php?lang=en&seo=1910 [L,QSA]
RewriteRule ^de/clientes$ clients.php?lang=de&seo=1912 [L,QSA]
RewriteRule ^es/carrito$ cart.php?lang=es&seo=1920 [L,QSA]
RewriteRule ^en/carrito$ cart.php?lang=en&seo=1922 [L,QSA]
RewriteRule ^de/carrito$ cart.php?lang=de&seo=1924 [L,QSA]
RewriteRule ^es/manifiesto$ cultura_bold.php?lang=es&seo=1914&page=1914 [L,QSA]
RewriteRule ^en/manifiesto$ cultura_bold.php?lang=en&seo=1916&page=1916 [L,QSA]
RewriteRule ^de/manifiesto$ cultura_bold.php?lang=de&seo=1918&page=1918 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/buscar$ search.php?lang=$1&seo=45 [L,QSA]