header {
  height: 80px;
  z-index: 10;
  position: relative;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 768px) {
      z-index: 12;
      background: #fafafa;
    }
    .left,
    .right {
      flex: 1;
    }
    .left {
      display: flex;
      align-items: flex-end;
      gap: 20px;
      @media only screen and (max-width: 768px) {
        img {
          width: 40px;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
      .dropdown button {
        min-width: 60px;
        width: max-content;
        border-radius: 5px;
        color: #000;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        justify-content: space-evenly;
      }
      .dropdown button,
      .dropdown-content li {
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 12px;
      }
      .arrow-down {
        width: 8px;
        height: 8px;
        display: inline-block;
        vertical-align: middle;
        border-style: solid;
        border-width: 1px;
        border-top-width: 0;
        transform: translateY(-2px) rotate(-45deg);
        border-right-width: 0;
        border-color: #000;
        margin: 0;
      }

      .dropdown button:hover {
        cursor: pointer;
      }
      /* Style for the dropdown content */
      .dropdown-content {
        display: none;
        position: absolute;
        margin: 1px 0 0 0;
        padding: 0;
        background-color: #f5f5f5;
        min-width: 60px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px;
        max-height: 315px;
      }
      /* Style for the dropdown content items */
      .dropdown-content li {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        justify-content: end;
      }
      .dropdown-content li img {
        margin: 0 20px 0px 20px;
      }
      /* Style for the dropdown content items on hover */
      .dropdown-content li:hover {
        background-color: #f1f1f1;
        cursor: pointer;
        border-radius: 5px;
      }
      /* Show the dropdown content when the dropdown button is clicked */
      .dropdown:focus-within .dropdown-content {
        display: block;
      }
      /* Animate the dropdown content */
      @keyframes slideIn {
        from {
          opacity: 0;
          transform: translateY(-10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .dropdown-content {
        animation: slideIn 0.3s ease-out;
      }
      /* Scrollbar styles */
      ::-webkit-scrollbar {
        width: 8px;
        height: 10px;
      }
      ::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: #c2c9d2;
      }

      select {
        text-transform: uppercase;
        cursor: pointer;
        background-color: transparent;
      }
      form {
        @media only screen and (max-width: 768px) {
          display: none;
        }
      }
      @media only screen and (max-width: 768px) {
        #search {
          display: none;
        }
      }
    }
    .logo {
      display: block;
      width: 110px;
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
    .logomobile {
      display: none;
      @media only screen and (max-width: 768px) {
        display: block;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 11px;
      padding-bottom: 4px;
      @media only screen and (max-width: 768px) {
        position: absolute;
        display: none;
      }
      a {
        position: relative;
        opacity: 0;
        &::after {
          transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
          content: "";
          width: 0%;
          height: 1px;
          background-color: rgba($color: #000000, $alpha: 0.5);
          position: absolute;
          top: 100%;
          left: 0;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  #cart {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .container-cart-box {
      .overlay {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        pointer-events: none;
        opacity: 0;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      }
      &.active {
        .overlay {
          pointer-events: all;
          opacity: 1;
        }
      }
    }
    .cart-box {
      display: block;
      position: absolute;
      background-color: #fff;
      max-width: 680px;
      width: calc(100vw - 40px);
      right: 0;
      top: 60px;
      padding: 123px 100px 80px;
      transition: all 0.6s ease-in-out;
      top: -100vh;
      &.active {
        transition: all 0.6s ease-in-out;
        top: 60px;
      }
      @media only screen and (max-width: 768px) {
        padding: 30px 0 0;
        position: fixed;
        top: initial;
        bottom: -500px;
        width: 100vw;
        max-width: 100vw;
        left: 0;
        border-top: 1px solid #000;
        &.active {
          transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
          top: initial;
          bottom: 0;
        }
      }
      #close-cart {
        position: absolute;
        right: 30px;
        top: 30px;
      }

      h2,
      h3 {
        font-weight: 300;
        text-align: left;
        @media only screen and (max-width: 768px) {
          padding: 0 20px;
          text-align: center;
        }
      }
      h2 {
        margin-bottom: 10px;
        color: #000;
        font-size: 40px;
        @media only screen and (max-width: 768px) {
          margin-bottom: 3px;
        }
      }
      h3 {
        letter-spacing: 0.2rem;
        font-size: 26px;
        margin-bottom: 40px;
        color: #000;
        @media only screen and (max-width: 768px) {
          margin-bottom: 20px;
          font-size: 18px;
        }
      }
      p {
        text-align: left;
        color: #000;
        @media only screen and (max-width: 768px) {
          padding: 0 20px;
          margin-bottom: 30px;
          text-align: center;
          max-width: 320px;
          margin: 0 auto 30px;
        }
      }
      .btn {
        @media only screen and (max-width: 768px) {
          padding: 15px;
          margin: 0;
          width: 100%;
          max-width: 100%;
          color: #fff;
          background-color: #000;
        }
      }
      a.link {
        justify-content: flex-start;
        @media only screen and (max-width: 768px) {
          justify-content: center;
          margin: 0;
          padding: 15px 0;
        }
      }
      #close-cart {
        @media only screen and (max-width: 768px) {
          display: none;
        }
      }
    }
    .count {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      font-size: 11px;
      border-radius: 50%;
      background: #8bf740;
      width: 16px;
      height: 16px;
      line-height: 18px;
      display: block;
      text-align: center;
      color: #000;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
    }
  }
  .search {
    display: flex;
    position: relative;
    align-items: center;
    button {
      width: 40px;
      height: 40px;
    }
    form {
      overflow: hidden;
      width: 0;
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      &.active {
        width: 120px;
        height: 20px;
        display: flex;
        flex: 1;
      }
      input {
        border-bottom: 1px solid #000;
        font-size: 14px;
      }
    }
  }

  .mobilemenu {
    position: absolute;
    background-color: #fafafa;
    width: 100vw;
    pointer-events: none;
    border-bottom: 1px solid #000;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    top: -240px;
    z-index: 1;
    display: none;
    @media only screen and (max-width: 768px) {
      display: block;
    }
    &.active {
      pointer-events: all;
      display: block;
      top: 80px;
      border-top: 1px solid #000;
    }
    .links {
      padding: 20px 20px 80px 20px;
      a {
        font-size: 18px;
        display: flex;
        font-weight: 200;
        padding: 10px 0;
      }
    }
    button {
      padding: 0 20px;
      img {
        width: 20px;
      }
    }
    .socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 20px;
      border-top: 1px solid #000;
    }
    .social {
      display: flex;
      padding: 5px 0;
      align-items: center;
      a {
        display: block;
        margin: 10px 10px 0 0;
        img {
          width: 15px;
          @media only screen and (max-width: 768px) {
            width: 22px;
          }
        }
      }
    }
  }
}
