.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: #000;
  border: 1px solid #000;
  font-weight: bold;
  font-size: 14px;
  max-width: 280px;
  letter-spacing: 2px;
  margin: 50px 0;
  &:hover {
    background-color: #000;
    color: #fff;
    @media only screen and (max-width: 768px) {
      color: #000;
      background-color: transparent;
    }
  }
  &.btn-add {
    max-width: 100%;
    width: 100%;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    margin: 0;
  }
  &.go-cotizacion {
    background-color: #000;
    color: #fff;
    max-width: 100%;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  gap: 20px;
  color: #000000;
  margin-top: 20px;
  @media only screen and (max-width: 768px) {
    justify-content: flex-start;
    gap: 10px;
  }
  &::after {
    content: "";
    background-image: url(../img/arrowDown.svg);
    transform: rotate(-90deg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: block;
    background-size: contain;
  }

  &.faq {
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 26px;
    flex-direction: column-reverse;
    position: relative;
    color: #ae78c5;
    margin: 30px 0;
    gap: 30px;
    @media only screen and (max-width: 768px) {
      align-items: center;
      justify-content: center;
      font-size: 24.5px;
    }
    &:hover {
      &::after {
        animation: none !important;
      }
    }
  }
}
