.marquee {
  overflow: hidden;
  display: flex;
  margin: 50px 0 100px;
  @media only screen and (max-width: 768px) {
    margin: 30px 0;
  }
  h3 {
    font-size: 78px;
    line-height: 78px;
    font-weight: bold;
    white-space: nowrap;
    @media only screen and (max-width: 768px) {
      font-size: 40px;
      line-height: 40px;
    }
  }
}
