@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");
:root {
  --font-primary: "Roboto Mono", monospace;
  --principal: #020202;
  --background-principal: #fff;
  --status-hover: #8afe2a;
  --status-selected: #d4a0e9;
  --complementary: #454cf5;
  --6296C3: #6296c3;
  --1B6844: #1b6844;
  --9ACDA7: #9acda7;
  --EAE62A: #eae62a;
  --E2E1DF: #e2e1df;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 120px auto 65px;
  @media only screen and (max-width: 768px) {
    grid-template-rows: auto auto auto;
  }
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 50px;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    img {
      object-fit: contain;
      height: 60px;
      @media only screen and (max-width: 768px) {
        height: 50px;
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
  video {
    width: 100%;
    height: calc(100vh - (120px + 88px));
    @media only screen and (max-width: 768px) {
      width: 100vw;
      height: 100vw;
    }
  }
  footer {
    ul {
      display: flex;
      justify-content: center;
      padding: 20px;
      list-style-type: none;
      gap: 50px;
      @media only screen and (max-width: 768px) {
        gap: 20px;
        flex-direction: column;
        align-items: center;
      }
      li {
        strong {
          font-size: 12px;
          display: block;
        }
        a {
          text-decoration: underline;
          color: inherit;
          &:hover {
            opacity: 0.5;
          }
        }
        small {
          font-size: 12px;
          display: block;
        }
      }
    }
  }
}
